<!DOCTYPE html>
<html>

<head>
		<title>My Account</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>

<body style = "background:#F8F8F8">
	
	
	<h1 style = "text-align:center">Account Details</h1>
    <img src = "/images/tp5.png" width="900" height="100" style = "margin-left : 5cm">
    </br>
    <div class="row">
    	<div class="col-sm-4">
    		<h2>Personal Details</h2></br>
    		
    		<div style = "font-size : 20px;">
    			<strong>First Name :</strong> <%= userdetails.firstname %></br>
    			<strong>Last Name :</strong> <%= userdetails.lastname %></br>
    			<strong>Mobile No. :</strong> <%= userdetails.mobile %></br>
    			<strong>Date Of Birth :</strong> <%= userdetails.dob %></br>
    			<strong>Email Id :</strong> <%= userdetails.username %></br>
    			<strong>eBay Handle :</strong> <%= userdetails.eBayHandle %></br>
    		</div>
		    
    	</div>    	
    	
    	
    	<div class="col-sm-4">
    		<h2>Items Bought</h2></br>	
	       	
	       	
	       		<% for(var advertisement in historydetails) 
	  				{              
    				%>
          			
          					<div style = "font-size : 20px;">
								<div>
									<strong>Item Name :</strong> <%= historydetails[advertisement].itemname %></br>
									<strong>Price :</strong> $<%= historydetails[advertisement].itemprice %></br>
								</div>
							</div>
							</br>
				    
      			<% 
	         	}  
	       		%>
	       	
    	</div>
    	
    	
    
    	<div class="col-sm-4">
    		<h2>Your Advertisements</h2></br>
    
   		 		<% for(var advertisement in useradvertisementdetails) 
	  				{              
    				%>
          			
          					<div style = "font-size : 20px;">
								<div>
									<strong>Item Name :</strong> <%= useradvertisementdetails[advertisement].itemname %></br>
									<strong>Description :</strong> <%= useradvertisementdetails[advertisement].itemdescription %></br>
									<strong>Price :</strong> $<%= useradvertisementdetails[advertisement].itemprice %></br>
								</div>
							</div>
							</br>
				    
      				<% 
	         		}  
	       			%>
	       				
    	</div>	
    </div>
	
</body>

</html>